<div id="content-mobile">
  <h2 class="mobile-card-page-title" *ngIf="driverInfo">{{driverInfo[0].forename}} {{driverInfo[0].surname}} ({{driverInfo[0].code}})</h2>

  <div class="card f1-card" *ngIf="driverInfo">
    <div class="card-body">
      <h4 class="card-title">Info</h4>

      <ul class="list-group list-group-flush">

        <li class="list-group-item" *ngIf="WDCs"><b>Championships:</b> {{WDCs}}</li>
        <li class="list-group-item"><b>Nationality:</b> {{driverInfo[0].nationality}}</li>
        <li class="list-group-item"><b>Date of Birth:</b> {{driverInfo[0].dob | date}}</li>
      </ul>
    </div>
  </div>

  <div class="card f1-card" *ngIf="driverInfo && driverInfo.length > 1">
    <div class="card-body">
      <h4 class="card-title">Past Seasons</h4>

      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let di of driverInfo">
            <div><b>{{di.year}}</b> Place: {{di.position | ordinal}} <i *ngIf="di.position === 1" class="fas fa-trophy" style="color: #ffd700;"></i> {{di.wins > 0 ? '-- Wins: ' + di.wins : ''}}</div>
            <div>({{di.name}}) Car #{{di.number}}
              <img class="img" default="assets/f1.png" height="30px" src="assets/constructor_logos/{{di.constructorRef}}.png"/>
            </div>
        </li>

      </ul>
    </div>
  </div>

  <h3 class="mobile-card-page-title">Race Results</h3>


  <div class="card f1-card" *ngFor="let race of thisSeasonResults" (click)="openRace(race)">
    <div class="card-body">
      <h4 class="card-title">{{(race.position || race.positionText) | ordinal}} - {{race.name}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">Grid: {{race.grid}}</h6>
      <h6 class="card-subtitle mb-2 text-muted" *ngIf="race.points">Points: {{race.points}}</h6>
      <h6 class="card-subtitle mb-2 text-muted" *ngIf="race.status">Status: {{race.status}}</h6>
    </div>
  </div>
  <!--<pre>{{driverInfo | json}}</pre>-->
  <!--<pre>{{thisSeasonResults | json}}</pre>-->

</div>

<div id="content-desktop">
  <!--<h2 class="driver-title">{{driverInfo?.forename}} {{driverInfo?.surname}} ({{driverInfo?.code}})</h2>-->
  <!--<div class="card"  *ngIf="driverInfo" style="margin: 20px; width: max-content">-->
  <!--<div class="card-body">-->
  <!--<h4 class="card-title">Info</h4>-->

  <!--<ul class="list-group list-group-flush">-->
  <!--<li class="list-group-item"><b>Nationality:</b> {{driverInfo.nationality}}</li>-->
  <!--<li class="list-group-item"><b>Date of Birth:</b> {{driverInfo.dob | date}}</li>-->

  <!--</ul>-->
  <!--</div>-->
  <!--</div>-->

  <h5 style="color: white; margin: 20px">Working on it. Try mobile view!</h5>

  <!--&lt;!&ndash;<pre>{{driverInfo | json}}</pre>&ndash;&gt;-->
  <!--&lt;!&ndash;<pre>{{thisSeasonResults | json}}</pre>&ndash;&gt;-->

</div>
