body {
  background-color: #2C3034;
  font-family: 'Pragati Narrow', sans-serif;
}

.f1-card {
  margin: 20px;
  cursor: pointer;
}

.f1-card:hover {
  border-color: gray;
}

.mobile-card-page-title {
  color: white;
  margin: 20px;
  text-align: center;
}



pre {
  color: white;
}
/*#d9d9d9*/
